body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}

h2, p, a {
    text-align: center
}

.readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: green; 
}

span {
    color: yellow;
    font-weight: bolder
}

.boxes {
    margin: 1em;
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
    width: 30em;
    display: block;
}

#box1 {
    background-color: aquamarine;
}

#box2 {
    background-color: blanchedalmond;
}

#box3 {
    background-color: darksalmon;
}

#box4 {
    background-color: cornflowerblue;
}